{{>layout/header}}
</head>
<body>
<div class="main-container">
    <div class="content-wrapper">
        <form class="make-board-item" action="/reservation/board/write" method="post" onsubmit="return checkTitle(this);">
            <div class="mb-3">
                <table class="table">
                    <tr>
                        <th>번호</th>
                        <td>신규(insert)</td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" class="form-control" name="title" placeholder="제목 입력">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea class="form-control" rows="5" name="content" placeholder="내용 입력"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" name="category" value="{{insertForm.category}}">
            <input type="hidden" name="memberId" value="{{insertForm.memberId}}">
            {{#insertForm.rootId}}
                <input type="hidden" name="rootId" value="{{insertForm.rootId}}">
            {{/insertForm.rootId}}
            <div class="text-end">
                <button type="submit" class="btn btn-primary">추가</button>
            </div>
        </form>
    </div>
</div>
<body>
{{>layout/footer}}