{{>layout/header}}
<div class="main-container">
    <div class="content-wrapper">
        <img src="/reservation/static/images/room.jpg" alt="조아 리조트 VIP룸" class="main-image">
        <h2 class="welcome-text">VIP 룸은 럭셔리 휴식공간입니다.</h2>
    </div>
</div>
{{>layout/footer}}