{{>layout/header}}
<div class="main-container">
    <div class="content-wrapper">
        <img src="/reservation/static/images/room2.jpg" alt="조아 리조트 일반룸" class="main-image">
        <h2 class="welcome-text">디럭스 스위트 룸은 편안함을 제공하고자하는 휴식공간입니다.</h2>
    </div>
</div>
{{>layout/footer}}