{{>layout/header}}
<div class="main-container">
    <div class="content-wrapper">
        <img src="/reservation/static/images/room3.jpg" alt="오션뷰 일반룸" class="main-image">
        <h2 class="welcome-text">오션뷰 일반룸은 편안함을 제공하고자하는 휴식공간입니다.</h2>
    </div>
</div>
{{>layout/footer}}