{{>layout/header}}
<div class="main-container">
    <div class="content-wrapper">
        <img src="/reservation/static/images/san.png" alt="설악산" class="main-image">
        <h2 class="welcome-text">설악산</h2>
    </div>
</div>
{{>layout/footer}}