{{>layout/header}}
<div class="main-container">
    <div class="content-wrapper">
        <img src="/reservation/static/images/bada.jpg" alt="서피비치" class="main-image">
        <h2 class="welcome-text">서피비치</h2>
    </div>
</div>
{{>layout/footer}}