{{>layout/header}}
<div class="main-container">
    <div class="content-wrapper">
        <img src="/reservation/static/images/main.jpg" alt="조아 리조트 전경" class="main-image">
        <h1 class="welcome-text">조아 리조트에 오신 것을 환영합니다</h1>
        <p class="tagline">자연과 함께하는 편안한 휴식</p>
    </div>
</div>
{{>layout/footer}}
